{% extends 'layout/admin.html' %}

{% block title %}Files{% endblock %}

{% block content %}
  <div>
    <form enctype="multipart/form-data" method="POST">
      <div>
        <label for="desc" class="label">Name</label>
        <input type="text" class="form-control" name="desc" id="desc" required>
      </div>
      <div>
        <label for="file" class="label">File</label>
        </br>
        <input type="file" name="file" id="file" required>
      </div>
      <input type="hidden" name="type" value="create">
      <input type="submit" class="btn btn-raised btn-primary" value="Submit">
    </form>

    {% for msg in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">{{msg}}</div> 
    {% endfor %}
  </div>
  <div>
    {% for row in files %}
      <div class="card">
        <h4>{{row.desc}}</h1>
        <p>{{ row.inserted_at | datetime }}</p>
        <a href="{{ row.url }}">{{ row.key }}</a>
        <form method="POST" action="{{ request.path }}">
          <input type="hidden" name="type" value="delete">
          <input type="hidden" name="id" value="{{ row.id }}">
          <button type="submit" name="submit" class="btn btn-raised btn-danger">
            Delete
          </button>
        </form>
      </div>
    {% else %}
      <div>No files uploaded.</div>
    {% endfor %}
  </div>
{% endblock %}
