{% extends 'layout/base_admin.html' %}

{% block title %}
Files
{% endblock %}

{% block admin_content %}
  <div class="row container-fluid to-show">
    <div class="card col-6 card-format">
      <div class="card-header"><h2>Upload a document</h2></div>
        <div class="card-body col-sm-12">
        {% for msg in get_flashed_messages() %}
          <div class="alert alert-danger" role="alert">{{msg}}</div> 
        {% endfor %}
        <form enctype="multipart/form-data" method="post">
          <input type="hidden" value="add" id="form_type" name="form_type">
          <div class="form-group">
            <label for="file" class="label">File</label>
            <input type="file" name="file" id="file" required>
          </div>

          <div class="form-group">
            <label for="desc" class="label">Name</label>
            <input type="text" class="form-control" name="desc" id="desc" required>
          </div>

          <input type="submit" class="btn btn-raised btn-primary" value="Submit">
        </form>
      </div>
    </div>
    <div class="card col-6 card-format">
      <div class="card-header"><h2>Uploaded documents</h2></div>
        <div class="card-body col-sm-12">
          {% for row in files %}
            <div class="col card card-format" id="loaded-files">
              <div class="card-header">{{row.key}}</div>
              <div class="card-body">
                <p>{{row.inserted_at}}</p>
                <a href="{{row.url}}" download="{{row.url}}">Download</a>
              </div>
            </div>
          {% else %}
            <div>No files were found in the database.</div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
