<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MSU</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='appIcon.png')}}">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  </head>

  <style type="text/css">
      .body-format {
          background-color: #f2f2f2; 
          font-family: 'Trebuchet MS', Helvetica, sans-serif;
      }

      .card-format {
          height: 90vh;
          overflow: auto;
      }

      .row {
        margin: 0 auto;
      }
  </style>

  <body class="body-format">
  	{% include "navbar.html" %}

    <div class="container-fluid to-show">
      <div class="row container-fluid">

      	<div class="card col-6 card-format">
          <div class="card-header"><h2>Public Forms</h2></div>
          <div class="card-body">

            <div class="col-sm-12">
              {% block public %}
            		{% if myForms %}
            			{% for row in myForms%}

                  <form method="post">
                    
                    <div class="row">
                      <div class="form-group col">
                        <label class="label">Time</label>
                        <input class="form-control" type="text" value="{{row.uploadtime}}" readonly>
                      </div>

                      <div class="form-group col">
                        <label class="label">Name</label>
                        <input class="form-control" type="text" value="{{row.name}}" readonly>
                      </div>

                      <div class="form-group col">
                        <label class="label">Subject</label>
                        <input class="form-control" type="text" value="{{row.subject}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="label">Message</label>
                      <textarea class="form-control" type="text" rows="5" cols="50" style="resize: none; white-space: pre-wrap;" value="{{row.message}}" readonly></textarea>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Delete" name="submit">
                    <input type="hidden" value="{{row.id}}" name="id">

                  </form>

                  {% endfor %}
                {% else %}
                  <div>No public forms were found in the database.</div>
            		{% endif %}
              {% endblock public %}

            </div>

          </div>
      	</div>

        <div class="card col-6 card-format">
          <div class="card-header"><h2>Private Forms</h2></div>
          <div class="card-body">
            <div class="col-sm-12">
              <form method="post">
                {% block private %}
                  {% if myPrivateForms %}
                    {% for row in myPrivateForms %}

                    <div class="row">
                      <div class="form-group col">
                        <label class="label">Time</label>
                        <input class="form-control" type="text" value="{{row.uploadtime}}" readonly>
                      </div>

                      <div class="form-group col">
                        <label class="label">Subject</label>
                        <input class="form-control" type="text" value="{{row.subject}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="label">Message</label>
                      <textarea class="form-control" type="text" rows="5" cols="50" style="resize: none; white-space: pre-wrap;" value="{{row.message}}" readonly></textarea>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Delete" name="submit">
                    <input type="hidden" value="{{row.id}}" name="id">

                    {% endfor %}
                  {% else %}
                    <div>No private forms were found in the database.</div>
                  {% endif %}
                {% endblock private %}
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

  	<!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
      <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>
