{% extends 'layout/base_admin.html' %}

{% block title %}Forms{% endblock %}

{% macro form_card(row) %}
  <div class="col card card-format" id="loaded-posts">
    <p id="form-title">{{ row.name }}</p>
    <p id="form-time">{{ row.inserted_at }}</p>
    <hr>
    <h4>{{row.subject}}</h4>
    <p>{{ row.body }}</p>
    <form method="POST" action="{{url_for('view.forms')}}" class="delete-form">
      <input type="hidden" name="form-id" value="{{row.id}}">
      <input type="submit" name="submit" value="Delete" class="btn btn-raised btn-danger">
    </form>
  </div>
{% endmacro %}

{% macro card_group(rows, head) %}
  <div class="card col-6 card-format">
    <div class="card-header"><h2>{{ head }}</h2></div>
    <div class="card-body col-sm-12">
      {% for row in rows %}
        {{ form_card(row) }}
      {% else %}
        <div>No forms were found in the database.</div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% block admin_content %}
  <div class="container-fluid to-show row">
    {{ card_group(public_forms,  'Public Forms')  }}
    {{ card_group(private_forms, 'Private Forms') }}
  </div>
{% endblock %}
