{% extends 'layout/admin.html' %}

{% block title %}Forms{% endblock %}

{% macro form_card(row) %}
<div class="card">
  <h4>{{row.subject}}</h4>
  <p>{{ row.name }}<br>{{ row.inserted_at | datetime }}</p>
  <hr>
  <p>{{ row.body }}</p>
  <form method="POST" action="{{ request.path }}" class="delete-form">
    <input type="hidden" name="id" value="{{ row.id }}">
    <button type="submit" name="submit" class="btn btn-raised btn-danger">
      Delete
    </button>
  </form>
</div>
{% endmacro %}

{% macro card_group(rows, head) %}
  <div class="forms">
    <h3>{{ head }}</h3>
    {% for row in rows %}
      {{ form_card(row) }}
    {% else %}
      <div>No forms submitted.</div>
    {% endfor %}
  </div>
{% endmacro %}

{% block content %}
  {{ card_group(public_forms,  'Public')  }}
  {{ card_group(private_forms, 'Private') }}
{% endblock %}
