{% extends 'layout/base_admin.html' %}

{% block admin_content %}
  <div class="container-fluid to-show">
    <div class="row container-fluid">

      <div class="card col-6 card-format">
        <div class="card-header"><h2>Public Forms</h2></div>
        <div class="card-body">

          <div class="col-sm-12">
            {% block public %}
              {% if myForms %}
                {% for row in myForms%}

                  <form method="post">

                    <div class="row">
                      <div class="form-group col">
                        <label class="label">Time</label>
                        <input class="form-control" type="text" value="{{row.uploadtime}}" readonly>
                      </div>

                      <div class="form-group col">
                        <label class="label">Name</label>
                        <input class="form-control" type="text" value="{{row.name}}" readonly>
                      </div>

                      <div class="form-group col">
                        <label class="label">Subject</label>
                        <input class="form-control" type="text" value="{{row.subject}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="label">Message</label>
                      <textarea class="form-control" type="text" rows="5" cols="50" style="resize: none; white-space: pre-wrap;" value="{{row.message}}" readonly></textarea>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Delete" name="submit">
                    <input type="hidden" value="{{row.id}}" name="id">

                  </form>

                {% endfor %}
              {% else %}
                <div>No public forms were found in the database.</div>
              {% endif %}
            {% endblock public %}
          </div>
        </div>
      </div>

      <div class="card col-6 card-format">
        <div class="card-header"><h2>Private Forms</h2></div>
        <div class="card-body">
          <div class="col-sm-12">
            <form method="post">
              {% block private %}
                {% if myPrivateForms %}
                  {% for row in myPrivateForms %}

                    <div class="row">
                      <div class="form-group col">
                        <label class="label">Time</label>
                        <input class="form-control" type="text" value="{{row.uploadtime}}" readonly>
                      </div>

                      <div class="form-group col">
                        <label class="label">Subject</label>
                        <input class="form-control" type="text" value="{{row.subject}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="label">Message</label>
                      <textarea class="form-control" type="text" rows="5" cols="50" style="resize: none; white-space: pre-wrap;" value="{{row.message}}" readonly></textarea>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Delete" name="submit">
                    <input type="hidden" value="{{row.id}}" name="id">
                  {% endfor %}
                {% else %}
                  <div>No private forms were found in the database.</div>
                {% endif %}
              {% endblock private %}
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
