{% extends 'layout/admin.html' %}

{% block title %}Links{% endblock %}

{% block content %}
  <div>
    <form method="POST" id="link-form" action="{{ request.path }}">
      <div>
        <label for="desc" class="label">Description</label>
        <input type="text" class="form-control" name="desc" id="desc" required>
      </div>
      <div>
        <label for="url" class="label">Url</label>
        <input type="text" class="form-control" name="url" id="url" required>
      </div>
      <input type="hidden" name="type" value="create">
      <input type="submit" name="submit" value="Submit" class="btn btn-raised btn-primary">
    </form>
  </div>
  <div>
    {% for p in links %}
      <div class="card">
        <h4>{{ p.desc }}</h4>
        <p>{{ p.inserted_at | datetime }}</p>
        <a href="{{ p.url }}">{{ p.url }}</a>
        <form method="POST" action="{{ request.path }}">
          <input type="hidden" name="type" value="delete">
          <input type="hidden" name="id" value="{{p.id}}">
          <button type="submit" name="submit" class="btn btn-raised btn-danger">
            Delete
          </button>
        </form>
      </div>
    {% else %}
      <div>No links were found in the database.</div>
    {% endfor %}
  </div>
{% endblock %}
