{% extends 'layout/admin.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
<div>

  <!-- Main form -->
  <form id="form-main" method="POST" action="{{ request.path }}">
    <input type="hidden" name="type" value="create">
    <div>
      <label for="title" class="label">Title</label>
      <input type="text" class="title form-control" name="subject" required>
    </div>
    <div>
      <label for="editor" class="label">Body</label>
      <textarea class="editor" name="body"></textarea>
    </div>
    <input type="submit" name="submit" value="Submit" class="btn btn-raised btn-primary">
  </form>

  <!-- Form when editing -->
  <form id="form-edit" class="hidden" method="POST" action="{{ request.path }}" novalidate>
    <input type="hidden" name="type" value="update">
    <input type="hidden" class="id" name="id" value="">
    <div>
      <label for="title" class="label">Title</label>
      <input type="text" class="title form-control" name="subject" required>
    </div>
    <div>
      <label for="editor" class="label">Body</label>
      <textarea class="editor" name="body" required></textarea>
    </div>
    <button type="submit" class="btn btn-raised btn-success submit">
      Submit Edit
    </button>

    <!-- type=button to avoid submission -->
    <button type="button" class="btn btn-raised btn-danger cancel" onclick="stopEditPost();">
      Cancel
    </button>
  </form>
</div>

<div>
  {% for p in posts %}
    <div class="card" id="post-{{ p.id }}">
      <h4 class="title">{{ p.subject }}</h4>
      <span class="body" style="display:none;">{{ p.body }}</span>
      <p>{{ p.inserted_at | datetime }}</p>
      <p class="markdown">{{ p.body }}</p>
      <form method="POST" action="{{ request.path }}">
        <input type="hidden" name="type" value="archive">
        <input type="hidden" name="id" value="{{ p.id }}">
        <button type="submit" name="submit" class="btn btn-raised btn-secondary">
          Archive
        </button>
      </form>
      <button class="btn btn-raised btn-primary" onclick="startEditPost({{ p.id }});">
        Edit
      </button>
    </div>
  {% else %}
    <div>No posts.</div>
  {% endfor %}
</div>
{% endblock %}
