<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <title>{% block title %}{% endblock %} - MSU</title>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Marked -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <!-- SimpleMDE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

  <script type="text/javascript">
    // Render markdown for elements with markdown class
    for (let e of document.querySelectorAll('.markdown')) {
      e.innerHTML = marked(e.innerText);
    }

    // Create markdown editors. The first one is for creating,
    // and the second one is used when editing.
    let mdeMain = new SimpleMDE({ element: document.querySelector('#form-main .editor') });
    let mdeEdit = new SimpleMDE({ element: document.querySelector('#form-edit .editor') });

    // Following code used for editing

    function startEdit() {
      document.getElementById('form-main').classList.add('hidden');
      document.getElementById('form-edit').classList.remove('hidden');
    }

    function stopEdit() {
      document.getElementById('form-main').classList.remove('hidden');
      document.getElementById('form-edit').classList.add('hidden');
    }

    let id = null;
    function startEditPost(_id) {
      if (id !== null) {
        stopEditPost();
      }

      id = _id;

      let card = document.getElementById(`post-${id}`);
      let title = card.querySelector('.title').innerText;
      let body = card.querySelector('.body').innerText;

      startEdit();

      card.classList.add('selected');
      document.querySelector('#form-edit .title').value = title;
      document.querySelector('#form-edit .id').value = id;
      mdeEdit.value(body);
    }

    function stopEditPost() {
      document.getElementById(`post-${id}`).classList.remove('selected');
      stopEdit();
      id = null;
    }
  </script>
</html>
