{% extends 'layout/base.html'   %}
{% include 'layout/navbar.html' %}

{% block content %}

  {% block admin_content %}{% endblock %}

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
    />
  <script
    src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"
    />
  <script
    src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"
    />

  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

  <script type="text/javascript">
    var simplemde = new SimpleMDE({ element: document.getElementById("editor") });

    {% for p in posts %}

      var markdownText = `{{p.body}}`;
      $('#body-{{p.id}}').wrapInner(simplemde.options.previewRender(markdownText));

    {% endfor %}


    function editPost(clicked_value) {
        var main_form_group = document.getElementById("form-main");
        var sub_form_group = document.getElementById("form-sub");
        main_form_group.style.display = "none";
        sub_form_group.style.display = "block";

        var original_state = document.getElementById("main").innerHTML;

        var postID = clicked_value;
        var postSubject = document.getElementById("subject-" + postID).innerHTML;

        var post = document.getElementById("body-" + postID).getElementsByTagName("p")[0];
        if (post == null) {
            var postBody = "";
        } else {
          var postBody = post.innerHTML;
        }

        console.log(postBody);
        var insertTime = document.getElementById("insert-" + postID).innerHTML;

        var card_header = document.getElementById("card-header");
        var card_subject = document.getElementById("subject");

        card_header.innerHTML = "<h2 style='display:inline-block;'>Editing Post</h2><p style='float:right; display: inline-block;margin-top:10px;'>" + "Inserted at " + insertTime + "</p>";
        card_subject.value = postSubject;
        var simplemde2 = new SimpleMDE({element: document.getElementById("sub-edit")});
        simplemde2.value(postBody);

        var form_type = document.getElementById("form_type");
        form_type.setAttribute("value", "edit");

        var form = document.getElementById("post-form");
        var form_id = document.createElement("Input");
        form_id.setAttribute("type", "hidden");
        form_id.setAttribute("value", postID);
        form_id.setAttribute("name", 'post-id');
        form.appendChild(form_id);

      var editButton = document.getElementById("editing-" + postID);
        editButton.setAttribute("class", "btn btn-raised btn-warning");
        editButton.setAttribute("value", original_state);
        editButton.setAttribute("onClick", "cancel(this.value)");
        editButton.innerHTML = "Cancel";
    }


    function cancel(original_state) {
        var main = document.getElementById("main");
        main.innerHTML = original_state;
        var main_form_group = document.getElementById("form-main");
        var sub_form_group = document.getElementById("form-sub");
        main_form_group.style.display = "block";
        sub_form_group.style.display = "none";
    }

  </script>

{% endblock %}
